### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax



*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   above 20 : 30%

In [19]:
salary = 28000000

if salary > 2000000:
    income_tax = 30
elif salary > 1000000:
    income_tax = 20
elif salary > 500000:
    income_tax = 10
elif salary < 5000000:
    income_tax = 0

total_tax = income_tax + 10 + 5 + 3

salary_deduction = (total_tax/100)*salary
salary_after_tax = salary - salary_deduction
print(int(salary_after_tax))

14560000

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [21]:
inputs = input("give all angles separated by ,: ").split("/")
total_angle = 0
for i in inputs:
    total_angle += int(i)

if total_angle == 180:
    print("this is a triangle.")
else:
    print("this is not a triangle.")

give all angles separated by ,:  50/52/152

this is not a triangle.

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [23]:
cost_price = int(input("cost price : "))
selling_price = int(input("selling price"))

if cost_price < selling_price:
    print("congrats you make profit.")
else:
    print("you make loss")

cost price :  15
selling price 10

you make loss

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [24]:

print("you have to chose : ")
choice = int(input("1 for cm to ft\n2 for km to miles\n3 for USD to INR\n4 for exit\n"))
while True:
    if choice == 1:
        choice = "cm to ft"
        break
    elif choice == 2:
        choice = "km to miles"
        break
    elif choice == 3:
        choice = "USD to INR"
        break
    elif choice == 4:
        choice = "exit"
        break
    else:
        choice = int(input("only choices are 1,2,3,4: "))
print("your choice is", choice)

you have to chose :

1 for cm to ft
2 for km to miles
3 for USD to INR
4 for exit
 6
only choices are 1,2,3,4:  9
only choices are 1,2,3,4:  4

your choice is exit

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34

In [1]:
num = 10
x = [0, 1, 0]
for _ in range(num):
    x[2] = x[0] + x[1]
    print(x[0])
    x[0] = x[1]
    x[1] = x[2]

0
1
1
2
3
5
8
13
21
34

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [2]:
num = 5
factorial = 1
for _ in range(num):
    factorial = factorial * num
    num -= 1
print(factorial)

120

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [10]:
num = input("give integer here")
print(num[::-1])

give integer here 123456789

987654321

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [16]:
num = 300
answer = 0
for i in range(num):
    if i % 5 != 0:
        check = answer + i 
        if check > 300:
            break
        else:
            answer += i

print(answer)

276

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [8]:
num = int(input("input your first num: "))
answer = 0
turns = 0
while True:
    answer += num
    if num == 0:
        break
    else:
        turns += 1
        num = int(input("input next num and if you want ot exit input 0: "))
print("sum of all given number is",answer)
print("average of numbers is",int(answer/turns))

input your first num:  25
input next num and if you want ot exit input 0:  25
input next num and if you want ot exit input 0:  25
input next num and if you want ot exit input 0:  0

sum of all given number is 75
average of numbers is 25

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [14]:
start_num = 2000
end_num = 3200
loop_num = end_num - start_num
answer = []
for i in range(loop_num):
    if start_num % 7 == 0 and start_num % 5 != 0:
        answer.append(str(start_num))
    start_num += 1

print(len(answer))
print(", ".join(answer))

138
2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [20]:
result = []
for i in range(1000, 3001):
    is_even = True
    for x in str(i):
        x = int(x)
        if x % 2 != 0:
            is_even = False
            break
    if is_even:
        result.append(str(i))


print(len(result),"\n" + " ".join(result))

125
2000 2002 2004 2006 2008 2020 2022 2024 2026 2028 2040 2042 2044 2046 2048 2060 2062 2064 2066 2068 2080 2082 2084 2086 2088 2200 2202 2204 2206 2208 2220 2222 2224 2226 2228 2240 2242 2244 2246 2248 2260 2262 2264 2266 2268 2280 2282 2284 2286 2288 2400 2402 2404 2406 2408 2420 2422 2424 2426 2428 2440 2442 2444 2446 2448 2460 2462 2464 2466 2468 2480 2482 2484 2486 2488 2600 2602 2604 2606 2608 2620 2622 2624 2626 2628 2640 2642 2644 2646 2648 2660 2662 2664 2666 2668 2680 2682 2684 2686 2688 2800 2802 2804 2806 2808 2820 2822 2824 2826 2828 2840 2842 2844 2846 2848 2860 2862 2864 2866 2868 2880 2882 2884 2886 2888

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [22]:
UP = int(input("Direction UP : "))
DOWN = int(input("Direction DOWN : "))
LEFT = int(input("Direction LEFT : "))
RIGHT = int(input("Direction RIGHT : "))

x_coordinate = RIGHT - LEFT
y_coordinate = UP - DOWN
print("these are the coordinates",x_coordinate, y_coordinate)
coordinate_distance = ((x_coordinate**2)+(y_coordinate**2))**0.5
print(int(coordinate_distance))

Direction UP :  5
Direction DOWN :  3
Direction LEFT :  3
Direction RIGHT :  2

these are the coordinates -1 2
2

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [7]:
num = int(input("input number here: "))
some_primes = [1, 2, 3]
if num in some_primes:
    print(num, "is a prime number.")
else:
    x = (num**2)-1
    if x % 24 == 0:
        print(num, "is a prime number.")
    else:
        print(num, "in not a prime number")

input number here:  324

324 in not a prime number

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>


Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [12]:
rang = input("give range of num in _to_ format: ").split("to")
for i in range(int(rang[0]), (int(rang[1])+1)):
    if len(str(i)) == 1:
        if i == 0 or i == 1:
            print(i)
    else:
        x = len(str(i))
        z = 0
        for y in str(i):
            z += int(y) ** x
        if z == i:
            print(i)

give range of num in _to_ format:  0to1000000

0
1
153
370
371
407
1634
8208
9474
54748
92727
93084
548834

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [9]:
time_ = input("input time here in hour:minute : ").split(":")
#if (int(time_[0])*5) == int(time_[1]):
    #print("angle is 0 degrees.")
#else:
Min = abs((int(time_[0])*5) - int(time_[1]))
angle = Min * 6
print(angle)

input time here in hour:minute :  4:15

30

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [13]:
square_1_pt_1 = input("give all your inputs for square 1's point 1 here like x1,y1: ").split(",")
square_1_pt_2 = input("give all your inputs for square 1's point 2 here like x2,y2: ").split(",")
square_2_pt_1 = input("give all your inputs for square 2's point 1 here like x1,y1: ").split(",")
square_2_pt_2 = input("give all your inputs for square 2's point 2 here like x2,y2: ").split(",")

if int(square_1_pt_2[0]) > int(square_2_pt_1[0]) and int(square_1_pt_1[1]) > int(square_2_pt_2[1]):
    print("given two rectangles overlap.")
else:
    print(" given two rectangles don't overlap.")

given two rectangles overlap.